.toolbar {
  display: inline-flex;
  align-items: stretch;
  height: 32px !important;
  padding: 2px;
  background: white;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 5px;
  box-shadow: 0px 9px 39px 0px rgba(85, 85, 85, 0.06), 0px 3.76px 16.293px 0px rgba(85, 85, 85, 0.04), 0px 2.01px 8.711px 0px rgba(85, 85, 85, 0.04), 0px 1.127px 4.883px 0px rgba(85, 85, 85, 0.03), 0px 0.599px 2.594px 0px rgba(85, 85, 85, 0.02), 0px 0.249px 1.079px 0px rgba(85, 85, 85, 0.02) !important;
  pointer-events: auto;
}

.group {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  white-space: nowrap;
  box-shadow: rgba(55, 53, 47, 0.09) 1px 0px 0px;
  margin-right: 1px;
}

.item {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  color: rgb(55, 53, 47);
  background-color: inherit;
  border: none;
  height: 100%;

  &:hover {
    background-color: rgba(55, 53, 47, 0.08) !important;
  }
}

.block {
  display: flex;
  align-items: center;
  font-size: 12px !important;
  color: #666C79 !important;
  font-weight: 500;

  & svg {
    margin-left: 4px;
    width: 12px !important;
    color: #8C919A !important;
  }
}

.askGPT {
  color: rgb(167, 130, 195);
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.active {
  color: rgb(35, 131, 226);
  fill: rgb(35, 131, 226);
}

.separator {
  background-color: rgba(55, 53, 47, 0.09);
  width: 1px;
}