.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  transform-origin: 0% bottom;
  left: 0px;
  opacity: 1;
  bottom: 4px;
  border-radius: 7px !important;
  background: white;
}

.dropdownSmall {
  & .elementList {
    width: 180px;
    max-width: 180px;
    min-width: auto;
  }

  & .item {
    min-height: auto;
  }

  & .leftImage {
    min-height: 22px;
    min-width: 22px;
    width: 22px;
    height: 22px;
  }

  & .rightDesc {
    display: none;
  }
}

.elementList {
  position: relative;
  max-width: calc(100vw - 24px);
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 324px;
  min-width: 180px;
  max-width: calc(100vw - 24px);
  height: 100%;
  max-height: 40vh;
  overflow-y: auto;
}

.group {
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
  margin-top: 6px;

  &:first-child {
    box-shadow: none;
  }
}

.groupTitle {
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 4px !important;
  color: rgba(55, 53, 47, 0.65);
  fill: rgba(55, 53, 47, 0.45);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
  text-align: left;
}

.item {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: calc(100% - 8px);
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 6px !important;
  display: flex;
  align-items: center;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 34px;
  font-size: 14px;
  width: 100%;
  border: none;
  padding: 4px 0;
  background-color: inherit;

  &[aria-selected='true'] {
    background-color: rgba(55, 53, 47, 0.08) !important;
  }

  &:hover {
    background-color: rgba(55, 53, 47, 0.08) !important;
  }
}

.itemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px !important;
  margin-right: 4px;
  margin-top: 1px;
  // align-self: flex-start;
}

.itemRight {
  margin-left: 4px !important;
  margin-right: 12px;
  min-width: 0px !important;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  // flex: 1 1 auto;
  text-align: left;
}

.rightTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  // font-size: 14px;
  // line-height: 22px;
  color: #404857;
}

.rightSymbol {
  font-size: 12px;
  color: #8C919A;
  text-align: left;
}

.rightDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(55, 53, 47, 0.65);
  margin-top: 2px;
  font-size: 12px;
  display: flex;
  align-items: center;
}